<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>Activity Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container my-2">
            <h2>My Tasks</h2>
            <a href="/addNewTask" class="btn btn-primary btn-sm mb-3">Create New Task </a>

            <table border="1" class="table table-striped table-bordered">
                <thead class = "table-primary">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Completed At</th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${listTasks}">
                    <td th:text="${task.title}">Title</td>
                    <td th:text="${task.description}">Description</td>
                    <td th:text="${task.status}">Status</td>
                    <td th:text="${task.createdAt}">Created At</td>
                    <td th:text="${task.updatedAt}">Updated At</td>
                    <td th:text="${task.completedAt}">Completed At</td>
                    <td>
<!--                        <a th:href="@{/edit/{id}(id=${task.id})}" class="btn btn-primary">Edit</a>-->
<!--                        <a th:href="@{/delete/{id}(id=${task.id})}" class="btn btn-danger">Delete</a>-->
                        <a th:href="@{/view/{id}(id=${task.id})}" class="text-info" data-mdb-toggle="tooltip" title="View"><i class="fas fa-eye"></i></a>
                        <a th:href="@{/editPage/{id}(id=${task.id})}" class="text-info" data-mdb-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt me-3"></i></a>
                        <a th:href="@{/delete/{id}(id=${task.id})}" class="text-danger" data-mdb-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

</body>

</html>