<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <meta charset="ISO-8859-1">
  <title>Activity Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
<div layout:fragment="content">
<!--  <h1 style="text-align: center; color:white; background:dodgerblue; font-style: italic"> Welcome to NfoTracker, Your Favourite Activity Scheduler</h1>-->
  <img src="mygitbaby.jpg" alt="todo photo" style="height:100vh;width:100vw;">
</div>
</body>
</html>